[user]
	name = Benjamin Bergman
	email = ben@benbergman.ca
[github]
  user = BenBergman
[core]
  excludesfile = ~/.gitignore-global
[color]
	ui = true
[alias]
	pushr = !git submodule foreach --recursive 'git push ||:' && git push
  graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
  g = !gitg
  k = !gitk
  aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'
[tig]
  line-graphics = "utf-8"
[tig "bind"]
  generic = F !git fetch
