[submodule ".vim"]
	path = .vim
	url = git@github.com:BenBergman/.vim.git
[submodule ".bash"]
	path = .bash
	url = git@github.com:BenBergman/.bash.git
[submodule "gaf"]
	path = gaf
	url = git@github.com:BenBergman/gaf.git
[submodule ".git_hooks"]
	path = .git_hooks
	url = git@github.com:BenBergman/.git_hooks.git
[submodule ".pcb"]
	path = .pcb
	url = git@github.com:BenBergman/.pcb.git
